<h1>Hello world!</h1>
<ul>
  <!--<li>{{ tasks[0].title}} <span>: {{ tasks[0].done }}</span></li>-->
  <!--<li *ngFor="let task of tasks">{{task.title}}<span>{{task.done}}</span></li>-->
  <!--<li *ngFor="let task of tasks">
    <span *ngIf="task.done">[完了]</span>
    {{task.title}}
  </li>-->
  <li *ngFor="let task of tasks" class="{{task.done?'done': ''}}">
    <!--{{task.title}}-->
    <label>
      <input type="checkbox" [(ngModel)]="task.done">
      {{task.title}}
      (期日: {{task.deadline|date: 'yyyy/MM/dd'}})
      <span *ngIf="isOverdue(task)" class="overdue">期日超過</span>
    </label>
  </li>
  <li>
    <input type="text" [(ngModel)]="newTask.title" #title="ngModel" required>
    <input type="date" [(ngModel)]="newTask.deadline">
    <button (click)="addTask()" [disabled]="title.invalid">追加</button>
  </li>
</ul>
<p>newTaskの値: {{newTask|json}}</p>
